/* GENERAL CSS */
html{
    background-color: #FFF4EF;
    color: #5E4A4E;
    padding-right: 2%;
    padding-left: 2%;
    
}

#all_button{
    background-color:#182351;
}

button{
    background-color: #5E4A4E;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

#button_container{
    display: grid;
    margin-bottom: 4%;
    padding: 2%;
    background-image: url('../images/background.jpeg');
}

#airplane_image{
    transform: rotate(10deg);
}

h1{
    font-size: 7vh;
    text-align: center;
    display: block;
    margin-bottom: 5%;
    margin-top: 4%;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size: 8vw; 
    font-family: 'Josefin Sans', sans-serif;
    color: #1C2239;
}

h3{
    font-size: 6vw; 
    font-family: 'Josefin Sans', sans-serif;
    color: #363F5E;
    margin-bottom: 3%;
    margin-top: 4%;
}

p{
    line-height: 1.5;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* Custom for mobile */
nav {
    margin-top: 7%;
}

#pet_link, #recipes_link, #travel_link{
    font-weight: bold;
    text-decoration: underline;
}

.primary_image{
    padding-top: 6%;
    padding-bottom: 3%;
    margin-top: 0%;
}

.pet_list{
    padding-bottom: 15%;
}

.location_container{
    padding-bottom: 15%
}

a.skip{
    position: absolute;
    top: -200px; 
    -webkit-transition: top 1s ease-in;
    transition: right 1s ease-out;
    z-index: 1;
    background-color: white;
    color: black;
    padding: 2%;
}

a.skip:focus {
    top: 20px; 
    left: 10px;
}

.chef{
    transform: rotate(0deg);
}

#chef{
    transform: rotate(0deg);
}

nav {
    background-color: #5E4A4E;
    color: white;
    height: 12vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;

}

img:hover, img:focus {
    filter: grayscale(100%);
}



.gif {
    display: block;
}

li{
    display: inline-block;
    margin-left: 4%;
    line-height: 1.5;
}

.p_two{
    margin-top: 0%;
}


/*  TABLET DESIGN PROJECT CSS */
@media only screen and (min-width: 480px) {
    h2{
        font-size: 4vw;
    }

    #button_container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4%;
        padding: 2%;
        background-image: url('../images/background.jpeg');
    }

    button{
        background-color: #5E4A4E;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        width: 20%;
    }

    nav {
        height: 8vw;
    }

    h3{
        font-size: 3vw;
    }
    
    li .recipe_list{
        background-color: #182351;
        border-radius: 30%;
        color: white;
        padding: 1.5%;
        font-size: 2vw;
    }

    .food_gallery{
        display: flex;
        gap: 3%;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }
    
    .photo_grid{
        display: flex;
        gap: 2%; 
        flex-wrap: wrap;
        justify-content: space-around;
        height: 50%;
        width: 100%;
    }

    .description_container{
        display: grid;
    }

    .primary_image{
        width: 90%;
        grid-row: 1/5;
        margin-top: 10%;
        transform: none;
        left: auto;
    }

    .recipe_one{
        margin-left: 3%;
        grid-column: 3/4;
        padding-top: 10%;
        grid-row: 1/2;
    }

    .p_one{
        grid-column: 3/4;
        grid-row: 1/2;
        height: fit-content;
    }

    .p_two{
        grid-column: 3/4;
        grid-row: 2/3;
        height: fit-content;
    }

    .image_travel{
        border: 50px solid #f4e1e1;
        width: 100%;
    }

    .photo_gallery{
       width: 40%;
       margin-right: 5%;
    }

    .text_travel{
        background-color: #5E4A4E;
        width: 100%;
        margin-top: 0%;
        color: white;
        padding: 5%
    }

    #photo_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pet_title{
        grid-column: 1/ span 1;
        grid-row: 1 / span 1;
    }

    .primary_image {
        grid-column: 1/ span 1;
        grid-row: 2 / span 2;
        margin-top: 0%;
    }

    .p_one {
        grid-column: 2/ span 1;
        grid-row: 2 / span 1;
    }

    .p_two {
        grid-column: 2/ span 1;
        grid-row: 3 / span 1;
    }

    #recipe_container{
        gap: 5%;
    }

    #recipe_container2{
        gap: 5%;
    }

    #recipe_container3{
        gap: 5%;
    }

    #recipe_container h2 {
        grid-column: 2 / span 1; 
        grid-row: 1 / span 1; 
        height: fit-content;
    }

    #recipe_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: repeat(4, auto); 
        gap: 3%; 
    }
    
    #origin {
        grid-column: 1 / span 1; 
        grid-row: 2 / span 1;
        height: fit-content;
    }

    #origin2 {
        grid-column: 1 / span 1; 
        grid-row: 2 / span 1;
        height: fit-content;
    }

    #origin3 {
        grid-column: 1 / span 1; 
        grid-row: 2 / span 1;
        height: fit-content;
    }
    
    #source {
        grid-column: 2 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }

    #source2 {
        grid-column: 2 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }

    #source3 {
        grid-column: 2 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }

    .recipe_one{
        margin: 4%;
    }
    
    #category {
        grid-column: 3 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }

    #category2 {
        grid-column: 3 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }

    #category3 {
        grid-column: 3 / span 1; 
        grid-row: 2 / span 1; 
        height: fit-content;
    }
    
    #recipe {
        grid-column: 2 / span 2; 
        grid-row: 3 / span 1; 
        height: fit-content;
    }

    #recipe1 {
        grid-column: 2 / span 2; 
        grid-row: 3 / span 1; 
        height: fit-content;
    }

    #recipe2 {
        grid-column: 2 / span 2; 
        grid-row: 3 / span 1; 
        height: fit-content;
    }

    .recipe_img {
        grid-column: 1 / span 1; 
        grid-row: 2 / span 3;
        width: 100%; 
        height: auto; 
    }
    
}

/*  WEB DESIGN PROJECT CSS */
@media only screen and (min-width: 768px) {
    h1{
        font-size: 7vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    #button_container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4%;
        padding: 2%;
        background-image: url('../images/background.jpeg');
    }

    button{
        background-color: #5E4A4E;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        width: 20%;
    }

    nav {
        height: 8vw;
    }

    p{
        line-height: 2;
    }
    
    h2{
        font-size: 4vw; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #1C2239;
    }
    
    h3{
        font-size: 2vw; 
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #363F5E;
        text-align: center;
        margin-bottom: 0;
    }
    
    li{
        display: inline-block;
        margin-left: 50px;
        background-color: #5E4A4E;
        padding: 1%;
        color: #f4e1e1;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    img{
        margin-right: 0;
        margin-left: 0;
    }

    .photo_grid{
        display: flex;
        justify-content: center;
    }

    .description_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .pet_title {
        grid-column: 2;
        grid-row: 1;
    }

    .primary_image {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        width: 80%;
        height: auto;
        border: 5px groove #363F5E;
        border-top-right-radius: 30px;
        padding: 10px;
        margin: 20px;
    }

    .p_one {
        grid-column: 2;
        grid-row: 2;
    }

    .p_two {
        grid-column: 2;
        grid-row: 3;
    }

    html{
        padding-right: 2%;
        padding-left: 2%;
    }

    .pet_list{
        padding-bottom: 5%;
    }

    button {
        font-size: 1.5vw;
    }

    #button_container{
        margin-right: 5%;
        margin-left: 5%;
        font-size: 1.75vw;
    }

    #prague_button, #switzerland_button, #rocks_button, #vietname_button, #all_button {
        width: 15%;
    }

    #photo_container{
        display: flex;
        margin-right: 15%;
        margin-left: 15%;
    }

    #photo_container1{
        display: flex;
        margin-right: 15%;
        margin-left: 15%;
    }

    #photo_container1 img{
        height: 50%;
    }

    #photo_container img{
        height: 50%;
    }

    #photo_container2{
        display: flex;
        margin-right: 15%;
        margin-left: 15%;
    }

    #photo_container2 img{
        height: 50%;
    }

    #photo_container3{
        display: flex;
        margin-right: 15%;
        margin-left: 15%;
    }

    #photo_container3 img{
        height: 50%;
    }

    .location_container{
        padding: 0%
    }

    .photo_gallery p{
        width: 87%;
    }  

    .prague_image{
        width: 87%;
    }

    .switzerland_image{
        justify-content: space-evenly;
    }

    .pictured_image{
        width: 27%;
    }

    .vietname_image{
        width: 100%;
    }

    .description_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #recipe_container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(5, auto); 
        column-gap: 100px; 
    }
    
    .recipe_img {
        grid-column: 1 / span 1; 
        grid-row: 1 / span 5;
        width: 100%; 
        height: auto; 
    }
    
    #recipe_container h2 {
        grid-column: 2 / span 1; 
        grid-row: 1 / span 1; 
        height: fit-content;
    }
    
    #origin {
        grid-column: 2 / span 1; 
        grid-row: 2 / span 1;
        height: fit-content;
    }
    
    #source {
        grid-column: 2 / span 1; 
        grid-row: 3 / span 1; 
        height: fit-content;
    }
    
    #category {
        grid-column: 2 / span 1; 
        grid-row: 4 / span 1; 
        height: fit-content;
    }
    
    #recipe {
        grid-column: 2 / span 1; 
        grid-row: 5 / span 1; 
        height: fit-content;
    }

    .recipe_list {
        background-color: #f4e1e1;
        text-align: center;
        color: black;
        border-radius: 10px; 
        border: 2px solid #333;
    }

    .recipe_steps{
        background-color: #FFF4EF;
        color: black;
        display: block;
    }

    .food_gallery {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5%;
    }

    .typing-container {
        font-family: 'Courier New', monospace;
        overflow: hidden;
        border-right: 2px solid #3498db; 
        animation: typingAnimation 2s steps(40, end) infinite;
    }
      
    @keyframes typingAnimation {
        0% {
            width: 0; 
        }
        100% {
            width: 100%; 
        }
    }

    *{
        cursor: none;
    }
    #cursor {
        position: absolute;
        background-image: url('../images/airplane.jpeg');
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 1;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #recipe_cursor {
        position: absolute;
        background-image: url('../images/whisk.png');
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 1;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #pet_cursor {
        position: absolute;
        background-image: url('../images/paws.png');
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: 1;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .image-container {
        position: relative;
        overflow: hidden;
    }

    .fade {
        opacity: 0;
        transition: opacity 1s ease-in-out;
        width: 200px;
        height: 300px;
    } 
    
    
}

@media (prefers-reduced-motion: reduce) {
    .gif { display: none; }
    .typing-container { animation: none; }
}
